{% extends "oscar/base.html" %}
{% block content %}
<h1>Banano Search Donations</h1>
<p>Banano search donates all the money gathered according to the current distribution <a href="/about">program</a></p>
<div style="border: 2px solid yellow;">
    <h2>September 22 donations:</h2>
    <p>169 total bans <a href="https://creeper.banano.cc/account/ban_3searchtcuxngtnstrku5ko7aheeo18hkw4sczmret55kr9dkiepkhyzbs7d">proof</a></p>
    <li>
        135.2 bans -> 67.6 <a href="https://bananoforest.com/">bananoforest</a>, 67.6 <a href="https://cryptoforthehomeless.org/donate.html">crypto for the homeless</a> | <a href="https://creeper.banano.cc/hash/384012E7C0F6335BF5CD9555ABEEDCE3503B9AE1001270FCE65848E5058E13F8">transaction 1</a>, <a href="https://creeper.banano.cc/hash/F28DFE040B9125BC59D806E6C57C49462B00CBB96FF854A5FFBF8E8F8A00672D">transaction 2</a>
    </li>
    <li>
        10 ban is burned | <a href="https://creeper.banano.cc/hash/BA3E6897CB2B649A6F41417E24D935F4AC26490DFE08B58E795C5FD591EC959E">transaction 3</a>
    </li>
    <li>
        16.9 ban is donated to <a href="https://bananofaucet.cc/">bananofaucet.cc</a> | <a href="https://creeper.banano.cc/hash/FE12B787DF423E5292E32CCF1B7195D8AE6F9F11BA941225EB6486F595E4D2D8">transaction 4</a>
    </li>
    <li>
        6.9 bans are used for hosting fees
    </li>
</div>

{% endblock %}
