{% extends "oscar/base.html" %}
{% block content %} 
<h1>Are no ads loading?</h1>
<h2>If no ads are loading here are our supported browsers</h2>
<li>
    Firefox
</li>
<li>
    Google chrome
</li>
<p>brave browser will not work as it tries to upgrade the connection to https which interfiers with the ad scripts</p>
<h2>Still not working?</h2>
<p>Acces our site from a http connection</p>
<a href="http://bananosearch.herokuapp.com">Click here</a>
<h2>Still no ads?</h2>
<a>Contact us at </a><a href="mailto:bananosearch@gmail.com">bananosearch@gmail.com</a>
{% endblock %}